@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

/* * {
  @apply text-gray-800 dark:text-white ;
} */

* {
  @apply text-gray-800 dark:text-white
}


body {
  font-family: "Poppins", sans-serif;
  @apply dark:bg-darkmode transition-colors;
}

.btn-switch {
  @apply bg-primary rounded-full px-4 py-2 flex justify-center items-center dark:bg-slate-600 shadow-lg;
}
/* loader  */
.loading {
  @apply h-full w-full flex justify-center flex-col items-center absolute z-10 left-0 top-0;
}
.circul_loader {
  position: relative;
  width: 100px;
}
.circul_loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

.container {
  @apply lg:max-w-[1250px];
  @apply px-4
}

.container > div:not(.loading) {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.3s ease-in-out forwards;
}

.alert {
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 4.5s forwards;
  @apply fixed w-full bottom-0 left-0 md:bottom-auto md:left-auto md:right-6
  md:max-w-xs md:top-20 bg-white px-5 py-3 rounded-lg md:border-[1px] border-[#353535] flex 
  justify-center items-center gap-3 md:w-fit z-40 shadow-lg backdrop-blur-md text-sm;
}
.alert i {
  @apply text-[20px];
}
.alert.error * {
  @apply text-red-600;
}

.alert.warning * {
  @apply text-orange-600;
}
.alert.success * {
  @apply text-green-600;
}

button:disabled {
  @apply animate-pulse;
}



.popup {
  @apply w-screen h-screen flex justify-center items-center z-20 absolute top-0 left-0 backdrop-blur-sm;
}
.popup .window {
  @apply max-w-xl bg-white rounded-xl max-h-[75%] overflow-y-auto shadow-xl p-6;
}

.backdrop {
  @apply w-full flex-col absolute top-16 left-0 h-[calc(100vh-4rem)] z-10 bg-[#1d1d1dda] flex justify-center items-center;
}

.backdrop {
  @apply w-full flex-col absolute top-16 left-0 h-[calc(100vh-4rem)] z-10 bg-[#1d1d1dda] flex justify-center items-center;
}

.backdrop * {
  @apply text-white leading-normal;
}

.hero-content h1, .hero-content p{
  @apply text-white leading-normal;
}

button.primary {
  @apply   rounded-lg bg-primary text-white font-semibold px-2 py-2 w-fit  ;
}
button.secondary-sq {
  @apply   rounded-lg bg-white text-black font-semibold border-[1px] px-2 py-2 w-fit border-black;
}

section.landing {
  @apply my-20;
}
section.landing img {
  @apply rounded-xl;
}
img {
  @apply object-cover;
}

.landing .title {
  @apply text-secondary w-full px-4 py-2 border-l-4 border-primary my-4;
}
button.secondary {
  @apply rounded-full border-[1px] border-black px-7 py-2 w-fit ;
}

.user {
  @apply flex gap-4 justify-center items-center w-fit;
}
.user .img {
  @apply flex-shrink-0 rounded-full w-12 h-12 flex overflow-hidden;
}
.user .img img {
  @apply object-cover;
}
.user .name {
  @apply flex flex-col justify-center;
}

.user .name span {
  @apply capitalize font-semibold;
}
.user .name p {
  @apply text-gray-500 text-sm;
}

.raiting_display img {
  @apply w-7 h-7;
}

header nav a {
  @apply capitalize font-semibold cursor-pointer relative
}

header nav a:hover:before {
  @apply w-full h-[3px] bg-primary content-[''] -bottom-5 absolute left-0 rounded-tl-xl rounded-tr-xl animate-bounce
}
/* .user .img.sm {
  @apply w-6 h-6 text-sm mr-3
}
.user .img.plus{
  @apply text-xs
}
p.link a{
  @apply text-blue-500 
} */

/* .user .img.logout:hover button{
  @apply flex
}
.user .img.logout:hover span{
  @apply hidden
} */

/* 

  // frontend

  * - create alert component
  * - create empty component 
  * - create loader component
  * - create theme component
  * - set up user, alert slices and all redux
  * - orginizing App.jsx with lazy load (project layout)
  * - create popup component
  * - use branding colors in tailwind.config and logo in public

  - create the max i can of components and pages structures


  // backend

  * - setup cloudinary
  * - create fondamental mongodb schemas
  * - create main user functions
  * - create the server.js structure

  - complete backend structre in the paper

*/

/* @-webkit-keyframes */

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #1a73e8;
  }
  40% {
    stroke: #0f9d58;
  }
  66% {
    stroke: #f4b400;
  }
  80%,
  90% {
    stroke: #db4437;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #1a73e8;
  }
  40% {
    stroke: #0f9d58;
  }
  66% {
    stroke: #f4b400;
  }
  80%,
  90% {
    stroke: #db4437;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Define keyframes for fade out */
@keyframes fadeOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}


.btn{
  @apply w-[100px] h-[30px]     lg:w-[130px] lg:h-[40px]  element-center font-medium  rounded-[10px]  ;
 }
 
 .brd{
  @apply hover:border-b-2 hover:border-b-[#0051CB] hover:text-[#0051CB] active:text-[#0051CB] transition-colors duration-200 ;
 }
 @layer{
  .element-center{
 @apply flex justify-center items-center 
  }
}


.headerSearchText {
  cursor : pointer;
 
}

.pd{
 @apply h-[28px] w-[28px] flex justify-center items-center bg-[#EFEFEF] rounded-md 
}

.fle{
  @apply flex justify-center items-center gap-[10px]
  
}
.arrow{
  @apply flex  items-center gap-[2px]
}


.iconDiv{

  padding: 5px 1px ;
  border-radius: 3rem;
 
  margin-right: 1rem;
  color: black;

  
}

.titre{
  
    font-weight: 700;
    color: black;
    padding-top: 0px;
    
}
  
.select-slc {
  @apply m-1.5 ml-[28px] whitespace-nowrap;
}


#hero {
  position: relative;
}

main {
  overflow: hidden;
}
#hero::before {
  content: "";
  position: absolute;
  inset: 0;
  left: 50%;
  transform: translatex(-50%);
  height: inherit;
  width: 100vw;
  background-image: url("/bg2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero::after {
  position: absolute;
  content: "";
  inset: 0;
  left: 50%;
  transform: translatex(-50%);
  height: inherit;
  width: 100vw;
  background-color: #1d1d1dda;
}




@media screen and (max-width: 420px) {
  .date {
    left: -1.5rem;
  }
}
@media screen and (max-width: 360px) {
  .date {
    left: -2.5rem;
    top: -6.5rem;
    transform: scale(0.9);
  }
}
@media screen and (max-width: 320px) {
  .headerSearchText {
    font-size: 0.9rem;
  }
  .container {
    padding: 0 1rem !important;
  }
  .date {
    left: -2.5rem;
    top: -7.5rem;
    transform: scale(0.8);
  }
}
@media screen and (max-width: 300px) {
  .headerSearchText {
    font-size: 0.85rem;
  }
  .date {
    left: -3rem;
    top: -8.8rem;
    transform: scale(0.7);
  }
}
@media screen and (max-width: 280px) {
  .headerSearchText {
    font-size: 0.8rem;
  }
  .date {
    left: -4rem;
    top: -8.8rem;
    transform: scale(0.7);
  }
}
@media screen and (max-width: 250px) {
  .headerSearchText {
    font-size: 0.75rem;
  }
  .date {
    left: -4.5rem;
    top: -8.8rem;
    transform: scale(0.7);
  }
}

.stars img {
  @apply w-4 h-5;
}
.owner_stars img {
  @apply w-7 h-7  absolute;
}
.inc_dec_button {
  @apply w-8 h-8 rounded-full border  border-gray-300 text-center text-gray-300 hover:border-gray-600 hover:text-gray-600;
}
.guest_number {
  @apply flex justify-center items-center gap-8;
}
.elements {
  @apply flex flex-col px-8 md:text-lg lg:text-2xl;
}
.elements:not(:last-child) {
  @apply border-r-[1px] border-gray-300;
}

/*property details page picture section*/
.picture-section {
  @apply flex gap-5 md:rounded-3xl md:overflow-hidden my-5 overflow-x-auto scrollbar-hide;
}

.picture-section .img {
  @apply max-w-sm md:max-w-full rounded-lg md:rounded-none;
}
